:root {
  --main-color: #121212;
  --secondary-color: #282828;
  --hover-color: #222222;
  --background-color: #202326;
  --dimmed-color: #787D7F;
  --transition-time: 0.3s;
  --font-color: white;
}
/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  background-color: var(--main-color);
}

::-webkit-scrollbar-thumb {
  background-color: #a4aacf;
}

.link-button {
  display: block;
  color: var(--font-color);
  background-color: #0075ff;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
  border: none;
}
/* End Global Rules */
/* Start Navigation */
.nav {
  background-color: var(--main-color);
  min-height: 100vh;
  padding: 20px;
  box-shadow: 0 0 5px gray;
  z-index: 11;
  transition: var(--transition-time);
}

@media (max-width: 767px) {
  .nav {
    padding: 10px;
  }
}

.nav .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.nav h3 {
  color: var(--font-color);
}

@media (max-width: 767px) {
  .nav h3 {
    font-size: 15px;
  }
}

.nav .desgin {
  width: 20px;
  height: 20px;
  background: black;
  display: block;
  border: 5px solid #ccc;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .nav .desgin {
    display: none;
  }
}

.nav .desgin::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  background: #ccc;
  left: 50%;
  transform: translateX(-50%);
  top: 41px;
  z-index: -1;
}

.nav .links {
  width: 200px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .nav .links {
    width: 50px;
    align-items: center;
  }
}

.nav .links a {
  display: block;
  padding: 12px 10px;
  color: white;
  border-radius: 6px;
  font-size: 15px;
  margin-bottom: 5px;
  transition: var(--transition-time);
}
@media (max-width: 767px) {
  .nav .links a {
    width: fit-content;
  }
}

.nav .links a:hover {
  background-color: var(--hover-color);
}

.nav .links a i {
  width: 30px;
  text-align: center;
}

@media (max-width: 767px) {
  .nav .links a i {
    width: 20px;
  }
  .nav .links a span {
    display: none;
  }
}
/* End Navigation */
/* Start Search Box */
.contents {
  width: 100%;
  overflow: hidden;
}
.search-box {
  background-color: var(--main-color);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.search-box .search {
  border: 1px solid rgba(238, 238, 238, 0.344);
  padding: 10px;
  border-radius: 6px;
  background-color: #3b3b3b;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  transition: var(--transition-time);
}

.search-box .search input {
  background: none;
  border: none;
  caret-color: var(--font-color);
  transition: var(--transition-time);
  width: 110px;
  color: white;
}

.search-box .search input::-webkit-search-decoration {
  color: var(--font-color);
}

.search-box .search input:focus {
  transition: var(--transition-time);
  outline: none;
}

.search-box .search input:focus {
  width: 150px;
}

.search-box .search input::placeholder {
  color: #a2a2a2;
  transition: var(--transition-time);
}

.search-box .search input:focus::placeholder {
  opacity: 0;
}

.search-box .search i {
  color: #a2a2a2;
}

.search-box .profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-box .profile i {
  color: white;
  font-size: 20px;
  position: relative;
}

.search-box .profile i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  top: -5px;
  border-radius: 50%;
  right: -5px;
}

.search-box .profile img {
  width: 35px;
}
/* End Search Box */
/* Start Content-heading */
.content {
  background-color: var(--background-color);
  min-height: 100vh;
  padding: 20px;
}
@media (max-width: 767px) {
  .content {
    padding: 10px;
  }
}
.contents .content > .topic {
  margin: 20px;
  margin-top: 0;
  position: relative;
  letter-spacing: -3px;
  font-size: 35px;
  color: var(--font-color);
}

.contents .content > .topic::before,
.contents .content > .topic::after {
  content: "";
  position: absolute;
  height: 4px;
  bottom: -10px;
  left: 3px;
}
.contents .content > .topic::before {
  background-color: var(--main-color);
  width: 120px;
}
.contents .content > .topic::after {
  content: "";
  width: 40px;
  background-color: var(--font-color);
}

.contents .content .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;

}

@media(max-width: 767px) {
  .contents .content .boxs {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

@media(max-width: 460px) {
  .contents .content .boxs {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.contents .content .boxs > div {
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--main-color);
  box-shadow: 0 0 50px var(--background-color);
}
/* End Content-heading */
